<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/grid-refugio.css">
    <link rel="stylesheet" href="/css/banner.css">

    <link rel="shortcut icon" href="#">
    
    <title>Refugio Bariloche</title>
</head>
<body>
    <header>       

        <script src="/cargarNav.js"></script>
    </header>

    <section class="content-banner">
        

        <div class="container-refugios-grid">

        </div>
        <div class="container-button-loadMore">
            <button onclick="requestRefugios()" class="LoadMoreButton" >Load more</button>
        </div>
        

        <script src="/cargar_refugios.js"></script>


    </section>


    <footer>
        <nav class="nav-footer">
            
            <script src="/cargarFooter.js"></script>
        </nav>

    </footer>




    
</body>
</html>